<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>lamv</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>New Movie</h1>

  <form action="/create" method="POST">
    <label>Movie Title</label>
    <input type="text" name="movieTitle"><br>
    <br>
    <label>Year Filmed</label>
    <input type="text" name="movieYear"><br>
    <br>
    <label>Film Location</label>
    <input type="text" name="movieLocation"><br>
    <br>
    <label>Movie Description</label>
    <textarea type="text" name="movieDescription"></textarea><br>
    <br>
    <input type="submit" value="Add Movie">
  </form>

</body>
</html>


