<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>lamv</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h3 class="title">Title: <%= movie.title %></h3>
  <h4 class="location">Location: <%= movie.location %></h4>
  <h5 year="year">Year: <%= movie.year %></h5>
  <p class="description">Description: <%= movie.description %></p>
</body>
</html>
