
body {
  font-family: 'Roboto', sans-serif;
  color: ;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: 000;
}

.reset {
  margin: auto;
  display: block;
  border: 3px solid #000;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 10px;
}

.cell {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  display: inline-block;
 }

 .blue {
  background-color: blue;
 }

 .red {
  background-color: red;
 }

table {
  border: 3px solid #000;
  border-collapse: collapse;
  margin: 50px auto;
}

/*jta formatting
#player1 {
  display: inline;
}

#player2 {
  display: inline;
}
*/

/*lb formatting
.cell {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  cursor: pointer;
}

.blankcell {
  font-size: 25px;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
*/
